node_modules
.vscode
.git
temp
logs.txt
dist
.env
.env.example
*.md
.gitignore
npm-debug.log*
.DS_Store
Thumbs.db
.idea
*.swp
*.swo
*~
flake.nix
flake.lock
mongo.bat
run.sh
translateJSON.py
README.md
LICENSE
